body{
    margin: 0px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
}
.pokedex{
    position: relative;
    background-color: transparent;
    height: 500px;
    transition: 0.3s;
}
.upperdex{
    position: relative;
    z-index: 1;
    overflow: hidden;
    border-radius: 25px 25px 10px 10px;
    
}

.circle1{
    position: absolute;
    height: 90px;
    width: 90px;
    top: 0px;
    left: 0px;
    transform: translate(-30%,-30%) ;
    background-color: transparent;
    border-radius:50%;
    border:  7px solid #00000080;
}
 .circle1::before{
    content: '';
    position: absolute;
    height: 60px;
    width: 60px;
    
    border-radius: 50%;
    border:  7px solid #00000080;
    background-color: transparent;
} 

.circle2{
    position: absolute;
    height: 90px;
    width: 90px;
    top: 0px;
    right: 0px;
    transform: translate(30%,-30%) ;
    background-color: transparent;
    border-radius: 50%;
    border:  7px solid #00000080;
    
}

.circle2::before{
    content: '';
    position: absolute;
    height: 60px;
    width: 60px;
    right: 0px;
    border-radius: 50%;
    border:  7px solid #00000080;
    background-color: transparent;
} 

.lowerdex{
    position: absolute;
    
    overflow: hidden;
    bottom: 0px;
    border-radius:25px 25px 10px 10px ;
    
}
.lowerdex{
    transform: rotateZ(180deg);
}

.screen{
    z-index: 0;
    position: absolute;
    width: 290px;
    background: -webkit-radial-gradient(at center, #4fdfffcc, #0083b0cc); /* Chrome 10-25, Safari 5.1-6 */
    background: radial-gradient(at center, #4fdfffcc, #0083b0cc); 
    height: 350px;
    top: 50%;
    left:50%;
    transform:translate(-50%,-50%) ;
    transition: height 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokedex:hover .screen{
    height: 150px;
}
.pokedex:hover{
    height: 325px;
}



.pokecontent{
    position: absolute;
    height: 200px;
    width: 90%;
    background-color: transparent;
}

.topcontent{
    height: 130px;
    font-size: 0;
    width: 100%;
    background-color: transparent;
    position: relative;

}
.pokephoto{
    display: inline-block;
    height: 100%;
    width: 40%;
    position: absolute;
    background-color: transparent;
}
.pokedetails{
    display: inline-block;
    height: 90%;
    top: 20%;
    position: absolute;
    width: 55%;
    right: 0;
    background-color: transparent;
    
}
.pokeinfo{
    width: 100%;
    height: 70px;
    background-color: bisque;
}

.pokephoto img{
    position: relative;
    width: 90%;
    margin: 0px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.pokerow{
    margin-bottom:5px ;
    width: 100%;
    background: transparent;
    height: 10%;
    position: relative;

}
.pokerow::after{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    background-color: transparent;
    bottom: 0;
    border-top: 2px rgb(245, 245, 245) solid ;
    border-top-left-radius: 13px;

}
.pokerow span{
    position: absolute;
    bottom: 0;
    height: 100%;
    display: inline-block;
    color: white;
    font-size: 10px;
    margin: 0px;
}
.pokerow .name{
    left: 50%;
}
.pokerow .no{
    left: 10%;
}
.pokerow .altname,.pokerow .type,.pokerow .entity{
    left: 5%;
    color: black;
    
}
.pokerow .val{
    right: 10px;
    color: black;
}