

:root {
    /* CSS HSL */
    --rich-black-fogra-29: 13, 24, 33;
    --blue-crayola: 0, 117, 242;
    }
body{
    height: 100vh;
    margin: 0px;
    
}
.content{
    height: 100vh;
    margin: 0px;
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    height: 200px;
    width: 200px;
    background-color: transparent;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.startcolor{
    position: absolute;
    height: 30px;
    width: 30px;
    background: blue;
    border-radius: 50%;
    top:0;
    

}

.setting{
    width: 15%;
    height: inherit;
    background-color: rgb(var(--rich-black-fogra-29));
    
    float: left;
}
.opt{
    text-align:center ;
    padding: 10px 0 ;
    font-family: sans-serif;
    color: white;
}
.setting hr{
    width: 80%;
    border-color: #aaa;
    border-width: 0 0 1px 0;
}
.opt p{
    
    margin: 10px auto;
}
.slider{
    margin-top: 10px ;
    outline: none;
    width: 90%;
    height: 10px;
    -webkit-appearance: none;
    border-radius: 5px;
    box-shadow: inset 0px 4px 10px rgba(0,0,0,0.5);
    background: -webkit-linear-gradient(left,rgb(var(--blue-crayola)) 50%, rgba(var(--rich-black-fogra-29),0.2) 50.001%);
    
    
}
.slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: rgb(var(--blue-crayola),0.9);
    box-shadow: 0px 0px 20px #000;
    transition: 0.3s;
}

.slider::-webkit-slider-thumb:hover{
    height: 18px;
    width: 18px;
    background-color: rgb(var(--blue-crayola));
}
.cent{
    width: 85%;
    display: block;
    margin: auto;
    
}
.box{
    height: 20px;
    width: 20px;
    background-color: rgb(var(--blue-crayola));
    position: relative;
    border-radius: 0 50% 50% 50%;
    transform:rotate(-135deg);
    left: 50%;
    
    transform: translateX(-50%) rotate(-135deg);
    
}
.box p{
    transform: rotate(135deg);
    font-size: 0.8em;
    
    
}
