body{
    margin: 0px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
.container{
    height: 200px;
    width: 200px;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box{
    height: 100px;
    width: 100px;
    background-color: #fff;
    border-radius: 50%;
    border: 10px solid #000;
    border-left: 10px solid white;
    border-right: 10px solid white;
    
    transition: 0.3;
}
.box:hover{
    
    border-style:dashed;

      
    
}